<%= content_for :page_title, "Gathering" %>
<table class="table">
  <thead>
    <tr>
      <th><%= link_to 'Nom du personnage', "/skills/gathering" %></th>
      <th><%= link_to 'Wood Tier', "/skills/gathering?utf8=✓&q=SortWood&commit=Search" %></th>
      <th><%= link_to 'Fiber Tier', "/skills/gathering?utf8=✓&q=SortFiber&commit=Search" %></th>
      <th><%= link_to 'Stone Tier', "/skills/gathering?utf8=✓&q=SortStone&commit=Search" %></th>
      <th><%= link_to 'Leather Tier', "/skills/gathering?utf8=✓&q=SortLeather&commit=Search" %></th>
      <th><%= link_to 'Ore Tier', "/skills/gathering?utf8=✓&q=SortOre&commit=Search" %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><a href="/membres/<%= user.id %>-<%= user.character_name %>"><%= user.character_name %></a>  </td>
        <td><%= user.wood %></td>
        <td><%= user.fiber %></td>
        <td><%= user.stone %></td>
        <td><%= user.leather %></td>
        <td><%= user.ore %></td>
      </tr>
    <% end %>
  </tbody>
</table>
