<%= content_for :page_title, "Membres" %>
<br>Nombre de membres total: <%= @users.length %>
<table class="table">
  <thead>
    <tr>
      <th><%= link_to 'Nom du personnage', "/membres" %></th>
      <th><%= link_to 'Rang', "/membres?utf8=✓&q=SortRank&commit=Search" %></th>
      <th><%= link_to 'Dernière activité', "/membres?utf8=✓&q=SortLogin&commit=Search" %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><a href="/membres/<%= user.id %>-<%=user.character_name %>"><%= user.character_name %></a></td>
        <td><%= user.rank %></td>
        <td>
          <% if user.last_active_at.present? %>
            <%= time1 = DateTime.strptime(user.last_active_at.to_s[0..-6] + "UTC", "%Y-%m-%d %H:%M:%S %Z").strftime('%Y/%m/%d, %l:%M %p') %>
          <% else %>
            Jamais
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
