<%= content_for :page_title, "Membres" %>
Nombre de membres total: <%= @users.length %>
<table class="table">
  <thead>
    <tr>
      <th>Nom du personnage</th>
      <th>Rang</th>
      <th>Connecté la dernière fois</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr><% uid = user.id %>
        <td><a href="/membres/<%= user.id %>-<%=user.character_name %>"><%= user.character_name %></a></td>
        <td><%= user.rank %></td>
        <td>
          <% if user.last_sign_in_at.present? %>
            <%= DateTime.strptime(user.last_sign_in_at.to_s[0..-6] + "UTC", "%Y-%m-%d %H:%M:%S %Z").strftime('%Y/%m/%d') %>
          <% else %>
            Jamais
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
