<%= content_for :page_title, "Modifier Profil" %>

<div class="form-signin">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
    <%= devise_error_messages! %>

    <h2 class="form-signin-heading text-center">Modification du profil</h2>

    <%= f.hidden_field :head, id: "headGear", placeholder: "", required: "" %>
    <%= f.hidden_field :armor, id: "armorGear", placeholder: "", required: "" %>
    <%= f.hidden_field :shoes, id: "shoesGear", placeholder: "", required: "" %>
    <%= f.hidden_field :mainhand, id: "mainhandGear", placeholder: "", required: "" %>
    <%= f.hidden_field :offhand, id: "offhandGear", placeholder: "", required: "" %>
    <br>
    <h6 class="text-center" style="color: red;">Entrer le mot de passe actuel pour modifier le profil</h6>
    <%= f.label :current_password, "Entrer le mot de passe actuel pour modifier", for: "inputCurrentPassword", class: "sr-only" %>
    <%= f.password_field :current_password, autocomplete: "off", id: "inputCurrentPassword", class: "form-control", placeholder: "Mot de passe actuel", data: { order: "last" } %>
    <br>

    <div id="headslot"class="btn-group noselect">
      <button type="button" class="btn btn-default dropdown-toggle test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag("heads/" + current_user.head.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", class: "test") %>
        <span id="selected"><%= current_user.head %></span>
      </button>
      <ul class="dropdown-menu gear">
        <li class="dropdown-header">T1</li>
        <% @heads.each do |head| %>
          <% if head == "T2" %>
            <li class="dropdown-header">T2</li>
          <% elsif head == "T3" %>
            <li class="dropdown-header">T3</li>
          <% elsif head == "T4" %>
            <li class="dropdown-header">T4</li>
          <% elsif head == "T5" %>
            <li class="dropdown-header">T5</li>
          <% elsif head == "T6" %>
            <li class="dropdown-header">T6</li>
          <% elsif head == "T7" %>
            <li class="dropdown-header">T7</li>
          <% elsif head == "T8" %>
            <li class="dropdown-header">T8</li>
          <% else %>
            <li class="item" title="Select this equipment">
              <%= image_tag("heads/" + head.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png") %><%= head %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br><br>
    <div id="armorslot" class="btn-group noselect">
      <button type="button" class="btn btn-default dropdown-toggle test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag("heads/" + current_user.armor.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", class: "test") %>
        <span id="selected"><%= current_user.armor %></span>
      </button>
      <ul class="dropdown-menu gear">
        <li class="dropdown-header">T1</li>
        <% @heads.each do |head| %>
          <% if head == "T2" %>
            <li class="dropdown-header">T2</li>
          <% elsif head == "T3" %>
            <li class="dropdown-header">T3</li>
          <% elsif head == "T4" %>
            <li class="dropdown-header">T4</li>
          <% elsif head == "T5" %>
            <li class="dropdown-header">T5</li>
          <% elsif head == "T6" %>
            <li class="dropdown-header">T6</li>
          <% elsif head == "T7" %>
            <li class="dropdown-header">T7</li>
          <% elsif head == "T8" %>
            <li class="dropdown-header">T8</li>
          <% else %>
            <li class="item" title="Select this equipment">
              <%= image_tag("heads/" + head.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png") %><%= head %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br><br>
    <div id="shoesslot" class="btn-group noselect">
      <button type="button" class="btn btn-default dropdown-toggle test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag("heads/" + current_user.shoes.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", class: "test") %>
        <span id="selected"><%= current_user.shoes %></span>
      </button>
      <ul class="dropdown-menu gear">
        <li class="dropdown-header">T1</li>
        <% @heads.each do |head| %>
          <% if head == "T2" %>
            <li class="dropdown-header">T2</li>
          <% elsif head == "T3" %>
            <li class="dropdown-header">T3</li>
          <% elsif head == "T4" %>
            <li class="dropdown-header">T4</li>
          <% elsif head == "T5" %>
            <li class="dropdown-header">T5</li>
          <% elsif head == "T6" %>
            <li class="dropdown-header">T6</li>
          <% elsif head == "T7" %>
            <li class="dropdown-header">T7</li>
          <% elsif head == "T8" %>
            <li class="dropdown-header">T8</li>
          <% else %>
            <li class="item" title="Select this equipment">
              <%= image_tag("heads/" + head.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png") %><%= head %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br><br>
    <div id="mainhandslot" class="btn-group noselect">
      <button type="button" class="btn btn-default dropdown-toggle test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag("heads/" + current_user.mainhand.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", class: "test") %>
        <span id="selected"><%= current_user.mainhand %></span>
      </button>
      <ul class="dropdown-menu gear">
        <li class="dropdown-header">T1</li>
        <% @heads.each do |head| %>
          <% if head == "T2" %>
            <li class="dropdown-header">T2</li>
          <% elsif head == "T3" %>
            <li class="dropdown-header">T3</li>
          <% elsif head == "T4" %>
            <li class="dropdown-header">T4</li>
          <% elsif head == "T5" %>
            <li class="dropdown-header">T5</li>
          <% elsif head == "T6" %>
            <li class="dropdown-header">T6</li>
          <% elsif head == "T7" %>
            <li class="dropdown-header">T7</li>
          <% elsif head == "T8" %>
            <li class="dropdown-header">T8</li>
          <% else %>
            <li class="item" title="Select this equipment">
              <%= image_tag("heads/" + head.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png") %><%= head %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br><br>
    <div id="offhandslot" class="btn-group noselect">
      <button type="button" class="btn btn-default dropdown-toggle test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag("heads/" + current_user.offhand.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", class: "test") %>
        <span id="selected"><%= current_user.offhand %></span>
      </button>
      <ul class="dropdown-menu gear">
        <li class="dropdown-header">T1</li>
        <% @heads.each do |head| %>
          <% if head == "T2" %>
            <li class="dropdown-header">T2</li>
          <% elsif head == "T3" %>
            <li class="dropdown-header">T3</li>
          <% elsif head == "T4" %>
            <li class="dropdown-header">T4</li>
          <% elsif head == "T5" %>
            <li class="dropdown-header">T5</li>
          <% elsif head == "T6" %>
            <li class="dropdown-header">T6</li>
          <% elsif head == "T7" %>
            <li class="dropdown-header">T7</li>
          <% elsif head == "T8" %>
            <li class="dropdown-header">T8</li>
          <% else %>
            <li class="item" title="Select this equipment">
              <%= image_tag("heads/" + head.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png") %><%= head %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br><br>
    <div class="text-center"><strong>Farming Levels</strong></div><br>
    <div class="row">
      <div class="col">
        <%= f.label :potion, "Potion" %>
        <%= f.text_field :potion, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :food, placeholder: "Food" %>
        <%= f.text_field :food, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :crop, placeholder: "Crop" %>
        <%= f.text_field :crop, class: "form-control", placeholder: "Level", required: true %>
      </div>
      <div class="col">
        <%= f.label :herb, "Herb" %>
        <%= f.text_field :herb, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :animal, "Animal" %>
        <%= f.text_field :animal, class: "form-control", placeholder: "Level", required: true %>
      </div>
    </div><br>
    <div class="text-center"><strong>Gathering Tiers</strong></div><br>
    <div class="row">
      <div class="col">
        <%= f.label :wood, "Wood" %>
        <%= f.text_field :wood, class: "form-control", placeholder: "Tier", required: true %>
        <%= f.label :fiber, "Fiber" %>
        <%= f.text_field :fiber, class: "form-control", placeholder: "Tier", required: true %>
        <%= f.label :stone, "Stone" %>
        <%= f.text_field :stone, class: "form-control", placeholder: "Tier", required: true %>
      </div>
      <div class="col">
        <%= f.label :leather, "Leather" %>
        <%= f.text_field :leather, class: "form-control", placeholder: "Tier", required: true %>
        <%= f.label :ore, "Ore" %>
        <%= f.text_field :ore, class: "form-control", placeholder: "Tier", required: true %>
      </div>
    </div><br>
    <div class="text-center"><strong>Tool Crafting Levels</strong></div><br>
    <div class="row">
      <div class="col">
        <%= f.label :woodaxe, "Woodaxe" %>
        <%= f.text_field :woodaxe, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :stonehammer, "Stonehammer" %>
        <%= f.text_field :stonehammer, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :scythe, "Scythe" %>
        <%= f.text_field :scythe, class: "form-control", placeholder: "Level", required: true %>
      </div>
      <div class="col">
        <%= f.label :skinningknife, "Skinning Knife" %>
        <%= f.text_field :skinningknife, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :pickaxe, "Pickaxe" %>
        <%= f.text_field :pickaxe, class: "form-control", placeholder: "Level", required: true %>
      </div>
    </div><br>
    <div class="text-center"><strong>Armor Crafting Levels</strong></div><br>
    <div class="row">
      <div class="col">
        <%= f.label :clothhead, "Cloth Head" %>
        <%= f.text_field :clothhead, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :clothshoes, "Cloth Shoes" %>
        <%= f.text_field :clothshoes, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :leatherarmor, "Leather Armor" %>
        <%= f.text_field :leatherarmor, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :platehead, "Plate Head" %>
        <%= f.text_field :platehead, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :plateshoes, "Plate Shoes" %>
        <%= f.text_field :plateshoes, class: "form-control", placeholder: "Level", required: true %>
      </div>
      <div class="col">
        <%= f.label :clotharmor, "Cloth Armor" %>
        <%= f.text_field :clotharmor, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :leatherhead, "Leather Head" %>
        <%= f.text_field :leatherhead, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :leathershoes, "Leather Shoes" %>
        <%= f.text_field :leathershoes, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :platearmor, "Plate Armor" %>
        <%= f.text_field :platearmor, class: "form-control", placeholder: "Level", required: true %>
      </div>
    </div><br>
    <div class="text-center"><strong>Weapon Crafting Levels</strong></div><br>
    <div class="row">
      <div class="col">
        <%= f.label :weaponmagic, "Weapon Magic" %>
        <%= f.text_field :weaponmagic, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :weaponranged, "Weapon Ranged" %>
        <%= f.text_field :weaponranged, class: "form-control", placeholder: "Level", required: true %>
      </div>
      <div class="col">
        <%= f.label :weaponmelee, "Weapon Melee" %>
        <%= f.text_field :weaponmelee, class: "form-control", placeholder: "Level", required: true %>
        <%= f.label :weaponoffhand, "Weapon Offhand" %>
        <%= f.text_field :weaponoffhand, class: "form-control", placeholder: "Level", required: true %>
      </div>
    </div>
    <br><br><br><br>
    <strong>Pour modifier votre nom de personnage(s):</strong>
    <%= f.text_field :character_name, class: "form-control", placeholder: "Personnage 1, Personnage 2, ...", required: true%>
    <br>
    <strong>Pour modifier votre email:</strong>
    <%= f.email_field :email, id: "inputEmail", class: "form-control", placeholder: "Adresse email", required: "" %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %><br>
    <strong>Pour modifier votre mot de passe:</strong>
    <%= f.password_field :password, autocomplete: "off", id: "inputPassword", class: "form-control", placeholder: "Mot de passe" %>
    <%# if @minimum_password_length %>
      <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
    <%# end %>
    <%= f.password_field :password_confirmation, autocomplete: "off", id: "inputPasswordConfirmation", class: "form-control", placeholder: "Confirmation de mot de passe", data: { order: "first" } %>
    <br>
    <br>
    <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>
