<%= content_for :page_title, "Modifier Profil" %>

<div class="form-signin">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
    <%= devise_error_messages! %>

    <h2 class="form-signin-heading text-center">Modification du profil</h2>

    <%= f.hidden_field :head, id: "headGear", placeholder: "", required: "" %>
    <%= f.hidden_field :armor, id: "armorGear", placeholder: "", required: "" %>
    <%= f.hidden_field :shoes, id: "shoesGear", placeholder: "", required: "" %>
    <%= f.hidden_field :mainhand, id: "mainhandGear", placeholder: "", required: "" %>
    <%= f.hidden_field :offhand, id: "offhandGear", placeholder: "", required: "" %>
    <br>
    <h6 class="text-center" style="color: red;">Entrer votre mot de passe actuel pour modifier votre profil</h6>
    <%= f.label :current_password, "Entrer le mot de passe actuel pour modifier", for: "inputCurrentPassword", class: "sr-only" %>
    <%= f.password_field :current_password, autocomplete: "off", id: "inputCurrentPassword", class: "form-control", placeholder: "Mot de passe actuel", data: { order: "last" } %>
    <br>

    <div id="headslot"class="btn-group noselect">
      <button type="button" class="btn btn-default dropdown-toggle test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag("heads/" + current_user.head.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", class: "test") %>
        <span id="selected"><%= current_user.head %></span>
      </button>
      <ul class="dropdown-menu gear">
        <li class="dropdown-header">T1</li>
        <% @heads.each do |head| %>
          <% if head == "T2" %>
            <li class="dropdown-header">T2</li>
          <% elsif head == "T3" %>
            <li class="dropdown-header">T3</li>
          <% elsif head == "T4" %>
            <li class="dropdown-header">T4</li>
          <% elsif head == "T5" %>
            <li class="dropdown-header">T5</li>
          <% elsif head == "T6" %>
            <li class="dropdown-header">T6</li>
          <% elsif head == "T7" %>
            <li class="dropdown-header">T7</li>
          <% elsif head == "T8" %>
            <li class="dropdown-header">T8</li>
          <% else %>
            <li class="item" title="Select this equipment">
              <%= image_tag("heads/" + head.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png") %><%= head %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br><br>
    <div id="armorslot" class="btn-group noselect">
      <button type="button" class="btn btn-default dropdown-toggle test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag("armors/" + current_user.armor.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", class: "test") %>
        <span id="selected"><%= current_user.armor %></span>
      </button>
      <ul class="dropdown-menu gear">
        <li class="dropdown-header">T1</li>
        <% @armors.each do |armor| %>
          <% if armor == "T2" %>
            <li class="dropdown-header">T2</li>
          <% elsif armor == "T3" %>
            <li class="dropdown-header">T3</li>
          <% elsif armor == "T4" %>
            <li class="dropdown-header">T4</li>
          <% elsif armor == "T5" %>
            <li class="dropdown-header">T5</li>
          <% elsif armor == "T6" %>
            <li class="dropdown-header">T6</li>
          <% elsif armor == "T7" %>
            <li class="dropdown-header">T7</li>
          <% elsif armor == "T8" %>
            <li class="dropdown-header">T8</li>
          <% else %>
            <li class="item" title="Select this equipment">
              <%= image_tag("armors/" + armor.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png") %><%= armor %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br><br>
    <div id="shoesslot" class="btn-group noselect">
      <button type="button" class="btn btn-default dropdown-toggle test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag("shoes/" + current_user.shoes.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", class: "test") %>
        <span id="selected"><%= current_user.shoes %></span>
      </button>
      <ul class="dropdown-menu gear">
        <li class="dropdown-header">T1</li>
        <% @shoes.each do |shoes| %>
          <% if shoes == "T2" %>
            <li class="dropdown-header">T2</li>
          <% elsif shoes == "T3" %>
            <li class="dropdown-header">T3</li>
          <% elsif shoes == "T4" %>
            <li class="dropdown-header">T4</li>
          <% elsif shoes == "T5" %>
            <li class="dropdown-header">T5</li>
          <% elsif shoes == "T6" %>
            <li class="dropdown-header">T6</li>
          <% elsif shoes == "T7" %>
            <li class="dropdown-header">T7</li>
          <% elsif shoes == "T8" %>
            <li class="dropdown-header">T8</li>
          <% else %>
            <li class="item" title="Select this equipment">
              <%= image_tag("shoes/" + shoes.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png") %><%= shoes %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br><br>
    <div id="mainhandslot" class="btn-group noselect">
      <button type="button" class="btn btn-default dropdown-toggle test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag("weapons/" + current_user.mainhand.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", class: "test") %>
        <span id="selected"><%= current_user.mainhand %></span>
      </button>
      <ul class="dropdown-menu gear">
        <li class="dropdown-header">T1</li>
        <% @weapons.each do |weapon| %>
          <% if weapon == "T2" %>
            <li class="dropdown-header">T2</li>
          <% elsif weapon == "T3" %>
            <li class="dropdown-header">T3</li>
          <% elsif weapon == "T4" %>
            <li class="dropdown-header">T4</li>
          <% elsif weapon == "T5" %>
            <li class="dropdown-header">T5</li>
          <% elsif weapon == "T6" %>
            <li class="dropdown-header">T6</li>
          <% elsif weapon == "T7" %>
            <li class="dropdown-header">T7</li>
          <% elsif weapon == "T8" %>
            <li class="dropdown-header">T8</li>
          <% else %>
            <li class="item" title="Select this equipment">
              <%= image_tag("weapons/" + weapon.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png") %><%= weapon %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br><br>
    <div id="offhandslot" class="btn-group noselect">
      <!-- disabled class -->
      <button type="button" class="btn btn-default dropdown-toggle test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag("offhands/" + current_user.offhand.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", class: "test") %>
        <span id="selected"><%= current_user.offhand %></span>
      </button>
      <ul class="dropdown-menu gear">
        <li class="dropdown-header">T1</li>
        <% @offhands.each do |offhand| %>
          <% if offhand == "T2" %>
            <li class="dropdown-header">T2</li>
          <% elsif offhand == "T3" %>
            <li class="dropdown-header">T3</li>
          <% elsif offhand == "T4" %>
            <li class="dropdown-header">T4</li>
          <% elsif offhand == "T5" %>
            <li class="dropdown-header">T5</li>
          <% elsif offhand == "T6" %>
            <li class="dropdown-header">T6</li>
          <% elsif offhand == "T7" %>
            <li class="dropdown-header">T7</li>
          <% elsif offhand == "T8" %>
            <li class="dropdown-header">T8</li>
          <% else %>
            <li class="item" title="Select this equipment">
              <%= image_tag("offhands/" + offhand.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png") %><%= offhand %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br><br>
    <%= f.label :avitempower, "<strong>Average Item Power</strong>".html_safe %>
    <%= f.number_field :avitempower, class: "form-control", placeholder: "Level", required: true, max: 5000, min: 1 %>
    <br>
    <%= f.label :reaver, "<strong>Reaver Tier</strong>".html_safe %>
    <%= f.number_field :reaver, class: "form-control", placeholder: "Tier", required: true, max: 8, min: 1 %>
    <br>
    <%= f.label :adventurer, "<strong>Adventurer Tier</strong>".html_safe %>
    <%= f.number_field :adventurer, class: "form-control", placeholder: "Tier", required: true, max: 8, min: 1 %>
    <br><br><br>
    <div class="text-center"><strong>Entrer le tier (1-8) de chacun de vos skills ci-dessous.</strong></div><br>
    <div class="text-center"><strong>Farming Tiers</strong></div><br>
    <div class="row">
      <div class="col">
        <%= f.label :potion, "Potion" %>
        <%= f.number_field :potion, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :food, placeholder: "Food" %>
        <%= f.number_field :food, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
      <div class="col">
        <%= f.label :crop, placeholder: "Crop" %>
        <%= f.number_field :crop, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :herb, "Herb" %>
        <%= f.number_field :herb, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
      <div class="col">
        <%= f.label :animal, "Animal" %>
        <%= f.number_field :animal, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
    </div><br>
    <div class="text-center"><strong>Gathering Tiers</strong></div><br>
    <div class="row">
      <div class="col">
        <%= f.label :wood, "Wood" %>
        <%= f.number_field :wood, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :fiber, "Fiber" %>
        <%= f.number_field :fiber, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
      <div class="col">
        <%= f.label :stone, "Stone" %>
        <%= f.number_field :stone, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :leather, "Leather" %>
        <%= f.number_field :leather, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
      <div class="col">
        <%= f.label :ore, "Ore" %>
        <%= f.number_field :ore, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
    </div><br>
    <div class="text-center"><strong>Tool Crafting Tiers</strong></div><br>
    <div class="row">
      <div class="col">
        <%= f.label :woodaxe, "Woodaxe" %>
        <%= f.number_field :woodaxe, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :stonehammer, "Stonehammer" %>
        <%= f.number_field :stonehammer, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
      <div class="col">
        <%= f.label :sickle, "Sickle" %>
        <%= f.number_field :sickle, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :skinningknife, "Skin Knife" %>
        <%= f.number_field :skinningknife, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
      <div class="col">
        <%= f.label :pickaxe, "Pickaxe" %>
        <%= f.number_field :pickaxe, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
    </div><br>
    <div class="text-center"><strong>Weapon Crafting Tiers</strong></div><br>
    <div class="row">
      <!-- <div class="col">
        <%#= f.label :weaponmagic, "Weapon Magic" %>
        <%#= f.number_field :weaponmagic, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%#= f.label :weaponranged, "Weapon Ranged" %>
        <%#= f.number_field :weaponranged, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
      <div class="col">
        <%#= f.label :weaponmelee, "Weapon Melee" %>
        <%#= f.number_field :weaponmelee, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%#= f.label :weaponoffhand, "Weapon Offhand" %>
        <%#= f.number_field :weaponoffhand, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div> -->
      <div class="col">
        <strong>Mage</strong><br>
        <%= f.label :wepfire, "Fire" %>
        <%= f.number_field :wepfire, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :wepholy, "Holy" %>
        <%= f.number_field :wepholy, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :weparcane, "Arcane" %>
        <%= f.number_field :weparcane, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :wepfrost, "Frost" %>
        <%= f.number_field :wepfrost, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :wepcursed, "Cursed" %>
        <%= f.number_field :wepcursed, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :weptome, "Tome" %>
        <%= f.number_field :weptome, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
      <div class="col">
        <strong>Hunter</strong><br>
        <%= f.label :wepbow, "Bow" %>
        <%= f.number_field :wepbow, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :wepspear, "Spear" %>
        <%= f.number_field :wepspear, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :wepnaturestaff, "Nature Staff" %>
        <%= f.number_field :wepnaturestaff, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :wepdagger, "Dagger" %>
        <%= f.number_field :wepdagger, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :wepquarterstaff, "Quarterstaff" %>
        <%= f.number_field :wepquarterstaff, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :weptorch, "Torch" %>
        <%= f.number_field :weptorch, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
      <div class="col">
        <strong>Warrior</strong><br>
        <%= f.label :wepsword, "Sword" %>
        <%= f.number_field :wepsword, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :wepbattleaxe, "Battleaxe" %>
        <%= f.number_field :wepbattleaxe, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :wephammer, "Hammer" %>
        <%= f.number_field :wephammer, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :wepmace, "Mace" %>
        <%= f.number_field :wepmace, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :wepcrossbow, "Crossbow" %>
        <%= f.number_field :wepcrossbow, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :wepshield, "Shield" %>
        <%= f.number_field :wepshield, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
    </div><br>
    <div class="text-center"><strong>Armor Crafting Tiers</strong></div><br>
    <div class="row">
      <div class="col">
        <%= f.label :clothhead, "Cloth<br>Head".html_safe %>
        <%= f.number_field :clothhead, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :clotharmor, "Cloth Armor" %>
        <%= f.number_field :clotharmor, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :clothshoes, "Cloth Shoes" %>
        <%= f.number_field :clothshoes, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
      <div class="col">
        <%= f.label :leatherhead, "Leather Head" %>
        <%= f.number_field :leatherhead, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :leatherarmor, "Leather Armor" %>
        <%= f.number_field :leatherarmor, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :leathershoes, "Leather Shoes" %>
        <%= f.number_field :leathershoes, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
      <div class="col">
        <%= f.label :platehead, "Plate<br>Head".html_safe %>
        <%= f.number_field :platehead, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :platearmor, "Plate Armor" %>
        <%= f.number_field :platearmor, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
        <%= f.label :plateshoes, "Plate Shoes" %>
        <%= f.number_field :plateshoes, class: "form-control tieredit", placeholder: "Tier", required: true, max: 8, min: 1 %>
      </div>
    </div>
    <br><br><br><br>
    <strong>Pour modifier votre nom de personnage(s):</strong>
    <%= f.text_field :character_name, class: "form-control", placeholder: "Personnage 1, Personnage 2, ...", required: true%>
    <br>
    <strong>Pour modifier votre email:</strong>
    <%= f.email_field :email, id: "inputEmail", class: "form-control", placeholder: "Adresse email", required: "" %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %><br>
    <strong>Pour modifier votre mot de passe:</strong>
    <%= f.password_field :password, autocomplete: "off", id: "inputPassword", class: "form-control", placeholder: "Mot de passe" %>
    <%# if @minimum_password_length %>
      <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
    <%# end %>
    <%= f.password_field :password_confirmation, autocomplete: "off", id: "inputPasswordConfirmation", class: "form-control", placeholder: "Confirmation de mot de passe", data: { order: "first" } %>
    <br>
    <br>
    <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>
