<br>
<%= link_to "Retour", :back, class: "btn btn-primary" %>
<h2 class="text-center"><%= @user.character_name %></h2>
<div class="row">
  <div class="col-lg">
    <%= image_tag("heads/" + @user.head.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.head, class: "gearimage") %>
    <div class="geartext"><%= @user.head %></div><br><br><br>
    <%= image_tag("armors/" + @user.armor.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.armor, class: "gearimage") %>
    <div class="geartext"><%= @user.armor %></div><br><br><br>
    <%= image_tag("shoes/" + @user.shoes.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.shoes, class: "gearimage") %>
    <div class="geartext"><%= @user.shoes %></div><br><br><br>
    <%= image_tag("weapons/" + @user.mainhand.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.mainhand, class: "gearimage") %>
    <div class="geartext"><%= @user.mainhand %></div><br><br><br>
    <%= image_tag("offhands/" + @user.offhand.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.offhand, class: "gearimage") %>
    <div class="geartext"><%= @user.offhand %></div><br><br>
  </div>
  <div class="col-lg text-center">
    <strong>Farming</strong><br>
    Potion: tier <%= @user.potion %><br>
    Food: tier <%= @user.food %><br>
    Crop: tier <%= @user.crop %><br>
    Herb: tier <%= @user.herb %><br>
    Animal: tier <%= @user.animal %><br>
    <br><strong>Gathering</strong><br>
    Wood: tier <%= @user.wood %><br>
    Fiber: tier <%= @user.fiber %><br>
    Stone: tier <%= @user.stone %><br>
    Leather: tier <%= @user.leather %><br>
    Ore: tier <%= @user.ore %><br>
    <br><strong>Tool Crafting</strong><br>
    Woodaxe: tier <%= @user.woodaxe %><br>
    Stonehammer: tier <%= @user.stonehammer %><br>
    Sickle: tier <%= @user.scythe %><br>
    Skinning Knife: tier <%= @user.skinningknife %><br>
    Pickaxe: tier <%= @user.pickaxe %><br><br>
  </div>
  <div class="col-lg text-center">
    <strong>Armor Crafting</strong><br>
    Cloth Head: tier <%= @user.clothhead %><br>
    Cloth Armor: tier <%= @user.clotharmor %><br>
    Cloth Shoes: tier <%= @user.clothshoes %><br>
    Leather Head: tier <%= @user.leatherhead %><br>
    Leather Armor: tier <%= @user.leatherarmor %><br>
    Leather Shoes: tier <%= @user.leathershoes %><br>
    Plate Head: tier <%= @user.platehead %><br>
    Plate Armor: tier <%= @user.platearmor %><br>
    Plate Shoes: tier <%= @user.plateshoes %><br>
    <br><strong>Weapon Crafting</strong><br>
    Magic: tier <%= @user.weaponmagic %><br>
    Ranged: tier <%= @user.weaponranged %><br>
    Melee: tier <%= @user.weaponmelee %><br>
    Offhand: tier <%= @user.weaponoffhand %><br><br>
  </div>
</div>
