<br>
<%= link_to "Retour", :back, class: "btn btn-primary" %>
<h2 class="text-center"><%= @user.character_name %></h2>
<div class="row">
  <div class="col-lg">
    <%= image_tag("heads/" + @user.head.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.head, class: "gearimage") %>
    <div class="geartext"><%= @user.head %></div><br><br><br>
    <%= image_tag("armors/" + @user.armor.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.armor, class: "gearimage") %>
    <div class="geartext"><%= @user.armor %></div><br><br><br>
    <%= image_tag("shoes/" + @user.shoes.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.shoes, class: "gearimage") %>
    <div class="geartext"><%= @user.shoes %></div><br><br><br>
    <%= image_tag("weapons/" + @user.mainhand.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.mainhand, class: "gearimage") %>
    <div class="geartext"><%= @user.mainhand %></div><br><br><br>
    <%= image_tag("offhands/" + @user.offhand.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.offhand, class: "gearimage") %>
    <div class="geartext"><%= @user.offhand %></div><br><br>
    <br><strong>Average Item Power: </strong><%= @user.avitempower %>
    <br><strong>Reaver Tier: </strong><%= @user.reaver %>
    <br><strong>Adventurer Tier: </strong><%= @user.adventurer %>
  </div>
  <div class="col-lg text-center">
    <strong>Farming</strong><br>
    Potion: tier <%= @user.potion %><br>
    Food: tier <%= @user.food %><br>
    Crop: tier <%= @user.crop %><br>
    Herb: tier <%= @user.herb %><br>
    Animal: tier <%= @user.animal %><br>
    <br><strong>Tool Crafting</strong><br>
    Woodaxe: tier <%= @user.woodaxe %><br>
    Stonehammer: tier <%= @user.stonehammer %><br>
    Sickle: tier <%= @user.sickle %><br>
    Skinning Knife: tier <%= @user.skinningknife %><br>
    Pickaxe: tier <%= @user.pickaxe %><br><br>
    <strong>Armor Crafting</strong><br>
    Cloth Head: tier <%= @user.clothhead %><br>
    Cloth Armor: tier <%= @user.clotharmor %><br>
    Cloth Shoes: tier <%= @user.clothshoes %><br>
    Leather Head: tier <%= @user.leatherhead %><br>
    Leather Armor: tier <%= @user.leatherarmor %><br>
    Leather Shoes: tier <%= @user.leathershoes %><br>
    Plate Head: tier <%= @user.platehead %><br>
    Plate Armor: tier <%= @user.platearmor %><br>
    Plate Shoes: tier <%= @user.plateshoes %><br><br>
  </div>
  <div class="col-lg text-center">
    <strong>Gathering</strong><br>
    Wood: tier <%= @user.wood %><br>
    Fiber: tier <%= @user.fiber %><br>
    Stone: tier <%= @user.stone %><br>
    Leather: tier <%= @user.leather %><br>
    Ore: tier <%= @user.ore %><br><br>
    <strong>Mage Weapon Crafting</strong><br>
    Fire Staff: tier <%= @user.wepfire %><br>
    Holy Staff: tier <%= @user.wepholy %><br>
    Arcane Staff: tier <%= @user.weparcane %><br>
    Frost Staff: tier <%= @user.wepfrost %><br>
    Cursed Staff: tier <%= @user.wepcursed %><br>
    Tome: tier <%= @user.weptome %><br>
    <br><strong>Hunter Weapon Crafting</strong><br>
    Bow: tier <%= @user.wepbow %><br>
    Spear: tier <%= @user.wepspear %><br>
    Nature Staff: tier <%= @user.wepnaturestaff %><br>
    Dagger: tier <%= @user.wepdagger %><br>
    Quarterstaff: tier <%= @user.wepquarterstaff %><br>
    Torch: tier <%= @user.weptorch %><br>
    <br><strong>Warrior Weapon Crafting</strong><br>
    Sword: tier <%= @user.wepsword %><br>
    Battleaxe: tier <%= @user.wepbattleaxe %><br>
    Hammer: tier <%= @user.wephammer %><br>
    Mace: tier <%= @user.wepmace %><br>
    Crossbow: tier <%= @user.wepcrossbow %><br>
    Shield: tier <%= @user.wepshield %><br><br>
  </div>
</div>
