<br>
<h2 class="text-center"><%= @user.character_name %></h2>
<div class="row">
  <div class="col-lg">
    <%= image_tag("heads/" + @user.head.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.head, class: "gearimage") %>
    <div class="geartext"><%= @user.head %></div><br><br><br>
    <%= image_tag("heads/" + @user.armor.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.armor, class: "gearimage") %>
    <div class="geartext"><%= @user.armor %></div><br><br><br>
    <%= image_tag("heads/" + @user.shoes.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.shoes, class: "gearimage") %>
    <div class="geartext"><%= @user.shoes %></div><br><br><br>
    <%= image_tag("heads/" + @user.mainhand.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.mainhand, class: "gearimage") %>
    <div class="geartext"><%= @user.mainhand %></div><br><br><br>
    <%= image_tag("heads/" + @user.offhand.gsub(/[^a-zA-Z. ]/, '').downcase.tr(" ", "_") + ".png", title: @user.offhand, class: "gearimage") %>
    <div class="geartext"><%= @user.offhand %></div><br><br>
  </div>
  <div class="col-lg text-center">
    <strong>Farming</strong><br>
    Potion: level <%= @user.potion %><br>
    Food: level <%= @user.food %><br>
    Crop: level <%= @user.crop %><br>
    Herb: level <%= @user.herb %><br>
    Animal: level <%= @user.animal %><br>
    <br><strong>Gathering</strong><br>
    Wood: Tier <%= @user.wood %><br>
    Fiber: Tier <%= @user.fiber %><br>
    Stone: Tier <%= @user.stone %><br>
    Leather: Tier <%= @user.leather %><br>
    Ore: Tier <%= @user.ore %><br>
    <br><strong>Tool Crafting</strong><br>
    Woodaxe: level <%= @user.woodaxe %><br>
    Stonehammer: level <%= @user.stonehammer %><br>
    Scythe: level <%= @user.scythe %><br>
    Skinning Knife: level <%= @user.skinningknife %><br>
    Pickaxe: level <%= @user.pickaxe %><br><br>
  </div>
  <div class="col-lg text-center">
    <strong>Armor Crafting</strong><br>
    Cloth Head: level <%= @user.clothhead %><br>
    Cloth Armor: level <%= @user.clotharmor %><br>
    Cloth Shoes: level <%= @user.clothshoes %><br>
    Leather Head: level <%= @user.leatherhead %><br>
    Leather Armor: level <%= @user.leatherarmor %><br>
    Leather Shoes: level <%= @user.leathershoes %><br>
    Plate Head: level <%= @user.platehead %><br>
    Plate Armor: level <%= @user.platearmor %><br>
    Plate Shoes: level <%= @user.plateshoes %><br>
    <br><strong>Weapon Crafting</strong><br>
    Magic: level <%= @user.weaponmagic %><br>
    Ranged: level <%= @user.weaponranged %><br>
    Melee: level <%= @user.weaponmelee %><br>
    Offhand: level <%= @user.weaponoffhand %><br><br>
  </div>
</div>
