<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> - Deaths and Taxes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-lg navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("AOFrenzy2.png") %> Deaths & Taxes</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Accueil' %>">
            <%= link_to "ACCUEIL", "/", class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Membres' %>">
            <%= link_to "MEMBRES", members_path, class: "nav-link" %>
          </li>
          <li id="skillsdropdown" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SKILLS</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Potion</a>
              <a class="dropdown-item" href="#">Food</a>
              <a class="dropdown-item" href="#">Crop</a>
              <a class="dropdown-item" href="#">Herb</a>
              <a class="dropdown-item" href="#">Animal</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Wood</a>
              <a class="dropdown-item" href="#">Fiber</a>
              <a class="dropdown-item" href="#">Stone</a>
              <a class="dropdown-item" href="#">Leather</a>
              <a class="dropdown-item" href="#">Ore</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Woodaxe</a>
              <a class="dropdown-item" href="#">Stonehammer</a>
              <a class="dropdown-item" href="#">Scythe</a>
              <a class="dropdown-item" href="#">Skinning Knife</a>
              <a class="dropdown-item" href="#">Pickaxe</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Cloth Head</a>
              <a class="dropdown-item" href="#">Cloth Armor</a>
              <a class="dropdown-item" href="#">Cloth Shoes</a>
              <a class="dropdown-item" href="#">Leather Head</a>
              <a class="dropdown-item" href="#">Leather Armor</a>
              <a class="dropdown-item" href="#">Leather Shoes</a>
              <a class="dropdown-item" href="#">Plate Head</a>
              <a class="dropdown-item" href="#">Plate Armor</a>
              <a class="dropdown-item" href="#">Plate Shoes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Weapon Magic</a>
              <a class="dropdown-item" href="#">Weapon Ranged</a>
              <a class="dropdown-item" href="#">Weapon Melee</a>
              <a class="dropdown-item" href="#">Weapon Offhand</a>
            </div>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Événements' %>">
            <%= link_to "ÉVÉNEMENTS", "/", class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Infos sur la guilde' %>">
            <%= link_to "INFOS SUR LA GUILDE", "/", class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Règles' %>">
            <%= link_to "RÈGLES", "/", class: "nav-link" %>
          </li>
        </ul>
        <ul class="nav" id="auth-button">
          <% if user_signed_in? %>
            <li class="dropdown">
              <%= button_tag current_user.character_name, class: "btn btn-primary my-2 my-sm-0 dropdown-toggle", id: "dropdownMenuButton", 'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false" %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <%= link_to('Modifier Profil', edit_user_registration_path, class: "dropdown-item") %>
                <%= link_to('Déconnecter', destroy_user_session_path, method: "delete", class: "dropdown-item") %>
              </div>
            </li>
          <% else %>
            <%= link_to('Connecter', new_user_session_path, class: "btn btn-primary my-2 my-sm-0", type: 'button') %>
          <% end %>
        </ul>
      </div>
    </nav>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>
    <div class="container">
      <% if notice %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
